/* * {
    box-sizing: border-box;
} */

/* p {
    width: 200px;
    height: 200px;
} */
.top{
    color: white;
    text-decoration: none;
    padding: 8px
}
body {
    margin: 0px;
    padding: 0px
  }

main {
    /* margin: 0; */
    padding: 16px;
  }

.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

nav {
    background-color: rgb(255, 85, 0);
    height: 15px;
    padding: 20px

}

.fit-picture {
    height: 200px;
}

.my-grid {
    display: inline-table;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-rows: auto 1fr;
}

h3 {
    color: green;
}

img {
    margin-right: 60px;
}

.second {
    background-color: rgb(109, 128, 0);
    height: 15px;
    padding: 20px
}
